.main-card-container {
  width: 100%;
  position: relative;
  text-align: left;
  color: rgba(238, 238, 238, 0.9);
}
  .before {
    top: 0;
    background-color: #000;
    width: 23.33rem;
    height: 30rem;
    opacity: 0.5;
  }
  .lorem-ipsum-dolor-container {
    position: absolute;
    top: 3.21rem;
    left: 0;
    font-size: 1.06rem;
    line-height: 1.97rem;
    display: flex;
    align-items: center;
    width: 16.36rem;
    height: 5.19rem;
  }
  .divelementor-image-box-conten {
    position: absolute;
    width: calc(100% - 80px);
    top: 14.51rem;
    right: 2.5rem;
    left: 2.5rem;
    height: 8.82rem;
  }
 
  
  .link {
    top: 0;
    left: 0;
    background-color: #f5f7f9;
    width: 25%;
    height:3rem;
  }
  .divelementor-button-wrapper {
    position: absolute;
    top: 24.57rem;
    right: 2.5rem;
    left: 2.5rem;
    text-align: center;
    font-size:1rem;
    background-color: red;
    color: #000;
  }
  .divelementor-element1 {
    position: absolute;
    top: 0.63rem;
    left: 0.63rem;
    background-image: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbiUyMG1vZGVsfGVufDB8fDB8fHww);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
 
  