
   .lorem-ipsum-dolor-container, .lorem-ipsum-dolor-container1 {
	position: relative;
	display: flex;
	align-items: center;
  }
  
  .link, .link2 {  
	width: 9.13rem;
	background-color: #f5f7f9;
	height: 2.93rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 0.84rem 1.73rem;
	
  }
  
  .divelementor-button-wrapper, .divelementor-element1,.divelementor-element {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }

  .divelementor-element1 {
	width:30%;
	height: 30rem;
	justify-content: flex-end;
	padding:2.5rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border: 1px solid rgb(238, 11, 11);
	margin-left: 1rem;
	border-radius: 15px;
  }
  .divelementor-element1:hover {
	transform: scale(1.02);
	transition: transform 0.3s ease; 
  }
  .check-out{
	cursor: pointer;
	font-weight: 600;
	color: saddlebrown;
  }
 
  @media screen and (max-width: 1200px) {
	
  }
  