.login-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-section {
  background-color: #fff;
  width: 100%;
  padding-right: 80px;
}

.login-form {
  gap: 10px;
  display: flex;
}

.login-header {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 66%;
  margin-left: 0px;
}


.login-subtitle {
  color: #a4a1aa;
  margin-top: 5px;
  font: 16px Jost, sans-serif;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #131118;
  font-weight: 400;
  margin: auto 0;
}

.login-label {
  margin-top: 36px;
  font: 12px Jost, sans-serif;
}

.login-email,.login-password  {
  border-radius: 10px;
  border: 1px solid #131118;
  margin-top: 8px;
  white-space: nowrap;
  padding: 1.2rem;
  font: 1rem, sans-serif;
}


.login-options {
  display: flex;
  margin-top: 16px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.login-remember {
  display: flex;
  gap: 10px;
  font-size: 16px;
  white-space: nowrap;
}

.login-remember-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
}
.login-remember-text {
  font-family:sans-serif;
}

.login-button {
  border-radius: 10px;
  background-color: #131118;
  margin-top: 10px;
  color: #fff;
  padding: 1rem;
}
