
  .navbar {
    display: flex;
    background-color: #f8f9fa;
    justify-content: space-between;
    gap: 10px;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
  
.navbar-account{
  height: 40px;
  width: auto;
}

  .navbar-section {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    padding: 0 20px;
  }
  
  @media (max-width: 991px) {
    .navbar-section {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .navbar-logo {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    color: #c84e89;
    font-weight: 600;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .navbar-logo {
      white-space: initial;
    }
  }
  .navbar-home {
    font-family: Montserrat, sans-serif;
  }
  .navbar-logo-img {
    aspect-ratio: 33.33;
    object-fit: auto;
    object-position: center;
    width: 66px;
    stroke-width: 2px;
    stroke: #c84e89;
    align-self: center;
    margin-top: 6px;
  }
  .navbar-category {
    font-family: Montserrat, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .navbar-featured {
    font-family: Montserrat, sans-serif;
  }
  .navbar-new-arrivals {
    font-family: Montserrat, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
 
  .navbar-search {
    display: flex;
    gap: 20px;
  }

  .navbar-search-title {
    font-family: Montserrat, sans-serif;
    border-radius: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    margin: auto 0;
    color: green;
    padding:0.5rem;
  }
 