.product-details {
  display: flex;
  max-width: 405px;
  flex-direction: column;
  padding: 0 20px;
}

.product-title {
  color: #2d2d2d;
  font-size: 1.2rem;
  font-weight: 500;
}

.brand-info {
  color: #1565c0;
  text-transform: uppercase;
  font-weight: 600;
  font-size:1rem;
  margin-top: 0.5rem;
}

.price-and-discount {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  gap: 10px;
}

.price-info {
  border-radius: 10px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: space-between;
  gap: 1px;
  font-weight: 700;
  padding:6px;
}

.currency-symbol {
  color: #29b6f6;
  font: 1rem Roboto, sans-serif;
}

.price-value {
  color: #1565c0;
  font: 2rem Roboto, sans-serif;
}

.discount-info {
  color: #474747;
  flex-grow: 1;
  flex-basis: auto;
  font-weight: 700;
  font-size: 1.2rem;
  font-family:Mukta, sans-serif;
}

.product-description {
  color: #000;
  margin-top: 25px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family:Roboto, sans-serif;
}

.add-to-cart {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 262.5%;
}

.quantity {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(223, 223, 223, 0);
  display: flex;
  text-transform: uppercase;
  padding:5px;
}

.quantity-label {
  color: #7d7d7d;
  font-family: Roboto, sans-serif;
}

.quantity-value {
  display: flex;
  padding-right: 7px;
  justify-content: space-between;
  color: #474747;
}

.quantity-image {
  font-family: Roboto, sans-serif;
  flex-grow: 1;
}

.add-to-cart-button {
  font-family: Roboto, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(21, 101, 192, 0.1);
  background-color: #1565c0;
  flex-grow: 1;
  justify-content: center;
  color: #fff;
  padding: 7px;
}
