.hero-banner-container {
    width: 100%;
    position: relative;
    background: linear-gradient(
      118.05deg,
      rgba(255, 255, 255, 0),
      rgba(235, 237, 239, 0.87)
    );
    font-size: 1.2rem;
    color: #415161;
    font-family: Poppins;
  }
  .divelementor-element {
    position: absolute;
    height: 100%;
    top: 20%;
    left: 15rem;
  }
  .divelementor-element1 {
    position: relative;
    width: calc(100% - 1037.3px);
    right: 15.2rem;
    bottom: 0;
    left: 49.63rem;
    height: 47.13rem;
  }
  .image26-freepng-icon {
    position: absolute;
    top: calc(25% - 200px);
    left: calc(60% - 210px);
    overflow: hidden;
    object-fit: cover;
  }