
.cart-box {
  border-radius: 10px;
  background-color: #fff;
}
.savedCart,
.cart-box,
.box-deatils,
.box-item-description,
.ordered-pcs-details{
  display: flex;
}

.savedCart {
  flex-direction: column;
  width:80%;
}

.cart-box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.box-deatils {
  justify-content: space-between;
  gap: 15px;
}

.box-item-img{
  width: 100px;
}
.box-item-description {
  flex-direction: column;
}
.ordered-summary {
  display: flex;
}
