.summary-wrapper{
  background-color: rgb(235, 226, 226);
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns:1fr 0.5fr;

}
.cart-component{
  margin-left: 10px;
}
.payment-card-container{
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}
input{
  outline: none !important;
  border: 2px solid white !important;
  color: white !important;
}
.card-background {
  border-radius:10px;
  background-color: #565abb;
  flex-direction: column;
  padding: 20px;
}
.card-detail-tag{
  font-weight: 600;
}
.card-detailed-info{
  display: grid;
  grid-template-columns:1fr;
}
::placeholder{
  color:greenyellow;
  font-size: 15px;
  font-weight: 600;
}
.card-name-input,
.card-num-input {
  border-radius: 6px;
  background-color: #6268c6;
}
.card-name-label {
  margin-top: 32px;
  font: 14px Poppins, sans-serif;
}
.card-name-input {
  margin-top: 11px;
  justify-content: center;
  align-items: start;
  color: #c4c4c4;
  white-space: nowrap;
  padding: 16px 60px 16px 18px;
  font: 12px Poppins, sans-serif;
}
.card-num-label {
  color: #fefcfc;
  margin-top: 19px;
  font: 14px Poppins, sans-serif;
}
.card-num-input {
  margin-top: 9px;
  justify-content: center;
  align-items: start;
  color: #c4c4c4;
  padding: 16px;
  font: 12px Poppins, sans-serif;
}
.card-validity,
.checkout-container {
  justify-content: space-between;
}
.card-validity {
  display: flex;
  margin-top: 18px;
  gap: 8px;
}
.card-exp {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}

.exp-input,
.cvv-input {
  border-radius: 6px;
  background-color: #6268c6;
  color: #c4c4c4;
  font: 12px Poppins, sans-serif;
}
.exp-input {
  padding: 15px;
}
.card-cvv {
  display: flex;
  flex-direction: column;
}
.cvv-input {
  padding: 14px;
}
.checkout-info,
.checkout-container {
  color: #fefcfc;
  display: flex;
}

.separator-line {
  background-color:white;
  margin-top:10px;
  height: 4px;
}
.price-label-col,.price-amount-col{
  display: flex;
  flex-direction: column;
}
.checkout-info {
  margin-top: 10px;
  align-items: start;
  justify-content: space-between;
}
.price-amount-col {
  text-align: right;
}
.checkout-container {
  border-radius: 10px;
  background-color: #4de1c1;
  margin-top: 10px;
  padding: 10px;
}

