
.div-18,
.div-39 {
  font-family: Poppins, sans-serif;
}
.img-3,
.img-6 {
  width: 20px;
}
.div-17 {
  justify-content: space-between;
  font-size: 14px;
  text-align: right;
}
.img-10,
.img-4 {
  width: 25px;
}
.card-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 38%;
  margin-left: 20px;
}
.div-37 {
  border-radius: 20px;
  background-color: #565abb;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 500;
  margin: 0 auto;
  padding: 20px 19px;
}
.div-38 {
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
}
.div-39 {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}
.img-11 {
  width: 50px;
}
.div-40 {
  margin-top: 20px;
  font: 16px Nunito, sans-serif;
}
.div-41 {
  display: flex;
  margin-top: 17px;
  justify-content: space-between;
  gap: 16px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}
.img-12,
.img-13,
.img-14 {
  object-fit: auto;
  object-position: center;
  width: 75px;
}
.div-42 {
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.2);
  flex-grow: 1;
  justify-content: center;
  padding:10px;
}
.div-44,
.div-46 {
  border-radius: 6px;
  background-color: #6268c6;
}
.div-43 {
  margin-top: 32px;
  font: 14px Poppins, sans-serif;
}
.div-44 {
  margin-top: 11px;
  justify-content: center;
  align-items: start;
  color: #c4c4c4;
  white-space: nowrap;
  padding: 16px 60px 16px 18px;
  font: 12px Poppins, sans-serif;
}
.div-45 {
  color: #fefcfc;
  margin-top: 19px;
  font: 14px Poppins, sans-serif;
}
.div-46 {
  margin-top: 9px;
  justify-content: center;
  align-items: start;
  color: #c4c4c4;
  padding: 16px 60px 16px 18px;
  font: 12px Poppins, sans-serif;
}
.div-47,
.div-64 {
  justify-content: space-between;
}
.div-47 {
  display: flex;
  margin-top: 18px;
  gap: 8px;
}
.div-48 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-49,
.div-52 {
  color: #fefcfc;
  font: 14px Poppins, sans-serif;
}
.div-50,
.div-53 {
  border-radius: 6px;
  background-color: #6268c6;
  color: #c4c4c4;
  font: 12px Poppins, sans-serif;
}
.div-50 {
  margin-top: 6px;
  justify-content: center;
  align-items: start;
  white-space: nowrap;
  padding: 13px 60px 13px 18px;
}
.div-51 {
  align-self: start;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  white-space: nowrap;
}
.div-53 {
  margin-top: 10px;
  justify-content: center;
  align-items: start;
  padding: 16px;
}
.div-55,
.div-64 {
  color: #fefcfc;
  display: flex;
}

.div-54 {
  background-color:white;
  margin-top:10px;
  height: 4px;
}
.div-55 {
  margin-top: 10px;
  align-items: start;
  justify-content: space-between;
}
.div-58 {
  margin-top: 16px;
}
.div-59 {
  margin-top: 10px;
}
.div-60 {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-align: right;
}
.div-62 {
  margin-top: 10px;
}
.div-63 {
  margin-top: 10px;
}
.div-64 {
  border-radius: 12px;
  background-color: #4de1c1;
  margin-top: 10px;
  padding: 10px;
}

.div-67 {
  flex-grow: 1;
}
